/* #2A0944 Dark purple
#3B185F purple
#A12568 pink
#FEC260  yellow */

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

#character_info {
    background-color: #A12568;
    border: 2px solid white;
    padding: 1% 0;
    position: absolute;
    height: 30%;
    width: 50%;
    bottom: 40%;
    left: 26%;
    color: white;
    text-align: center;
    visibility: hidden;
}

#character_info> * {
    margin-top: 2%;
}

#character_info button {
    display: block;
    margin: 2% auto 0 auto;
}

#wrapper {
    width: 100%;
    background-color: #2A0944;
    color: #FEC260;
    overflow: hidden;
}

#header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: .5% 10%;
}

#logo_container, #nav_buttons {
    display: flex;
    align-items: center;
}


#logo_icon {
    width: 6%;
    margin-left: 2%;
}

#nav_buttons {
    justify-content: space-around;
    width: 18%;
}

h1, #nav_buttons a, #sign_in {
    font-size: 20px;
    text-decoration: none;
    color: #FEC260;
}

#main_container {
    display: flex;
}

#levels_container {
    flex: 1;
    background-color: #2A0944;
    text-align: center;
}

#game_container {
    flex: 12;
    height: 95lvh;
    overflow: hidden;
}

#player_stats {
    background-color:  #8f8f8f;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: .5% 10%;
    font-size: 18px;
}

#xp_box {
    display: flex;
    width: 15%;
    height: 50%;
}

#xp {
    display: flex;
    align-items: center;
    width: 90%;
}

#xp_box p {
    margin-right: 2%;
}

#yellow_xp {
    background-color: #FEC260;
    width: 10%;
    height: 50%;
}

#white_xp {
    background-color: #FFF;
    width: 90%;
    height: 50%;
}

#game_scene {
    background-color: #3B185F;
    display: flex;
}

#inventory {
    flex: 2;
}

#inventory h3 {
    text-align: center;
    margin-top: 2%;
}


#game_background_div {
    display: flex;
    flex: 15;
}

#player_image {
    position: relative;
    width: 25%;
    height: 25%;
    right: 95%;
    top: 40%;
    visibility: hidden;
}

#npc {
    position: relative;
    width: 25%;
    height: 25%;
    right: 43%;
    top: 25%;
}

#game_background {
    width: 100%;
}



#dialog_container {
    flex: 3;
    padding: 1% .5%;
}

#dialog {
    margin-bottom: 1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#continue_button, #start_fight_button {
    padding: .5% 1%;
    margin-left: 5%;
    align-self: flex-start;
    background-color: #FEC260;
}

#player_actions {
    display: none;
}
#player_actions button, #coding_questions button {
    padding: 0 1%;
    background-color: #FEC260;
    border: 1px solid black;
    margin-top: 1%;
}

#start_fight_button {
    display: none;
}

#coding_questions {
    margin-top: 1%;
    display: none;
}

